
@{
	ViewBag.Title = "Empty";
	Layout = "~/Views/Shared/_Shopping.cshtml";
}

	<h3 style="text-align:center; color:red;margin-top:50px;margin-bottom:50px;font-size:30px">Bạn chưa mua bất kì sản phẩm nào hết. Vui lòng chọn sản phẩm ngay tại đây</h3>
<p style="text-align:center; font-size:40px">
	@Html.ActionLink("Chọn sản phẩm", "Dienthoai", "home")
</p>


