
@{
	ViewBag.Title = "XacNhanDathang";
	Layout = "~/Views/Shared/_Shopping.cshtml";
}

<h2 style="text-align:center">Xác nhận đơn hàng</h2>
<h3 style="text-align:center; color:red;">Đơn hàng của quý khách đã đặt thành công. Chúng tôi sẽ liên hệ và giao trong thời gian sớm nhất.</h3>
<p style="text-align:center; font-size:30px">
	@Html.ActionLink("Về trang chủ", "dienthoai", "home");
</p>


